<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<base href="{Base}" />
		<title>{Title}</title>
		<meta name="keywords" content="{Keywords}" />
		<meta name="description" content="{Description}" />
		<meta httpequiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no" />
		<link rel="icon" type="image/png" href="{FavIcon}" />
		{HTTPCSS}
		{HTTPJS}
		{CSS}
	</head>
	<body>	
		{Body}
		{JS}
	</body>
</html>
